asgiref==3.10.0 ; python_full_version == "3.12.10"
django-debug-toolbar==6.0.0 ; python_full_version == "3.12.10"
django==5.2.7 ; python_full_version == "3.12.10"
djangorestframework==3.16.1 ; python_full_version == "3.12.10"
flake8==7.3.0 ; python_full_version == "3.12.10"
mccabe==0.7.0 ; python_full_version == "3.12.10"
pycodestyle==2.14.0 ; python_full_version == "3.12.10"
pyflakes==3.4.0 ; python_full_version == "3.12.10"
python-dotenv==1.1.1 ; python_full_version == "3.12.10"
sqlparse==0.5.3 ; python_full_version == "3.12.10"
tzdata==2025.2 ; sys_platform == "win32" and python_full_version == "3.12.10"
