amqp==5.3.1 ; python_full_version == "3.12.10"
asgiref==3.10.0 ; python_full_version == "3.12.10"
billiard==4.2.2 ; python_full_version == "3.12.10"
celery==5.5.3 ; python_full_version == "3.12.10"
click-didyoumean==0.3.1 ; python_full_version == "3.12.10"
click-plugins==1.1.1.2 ; python_full_version == "3.12.10"
click-repl==0.3.0 ; python_full_version == "3.12.10"
click==8.3.0 ; python_full_version == "3.12.10"
colorama==0.4.6 ; python_full_version == "3.12.10" and platform_system == "Windows"
django-debug-toolbar==6.0.0 ; python_full_version == "3.12.10"
django==5.2.7 ; python_full_version == "3.12.10"
djangorestframework==3.16.1 ; python_full_version == "3.12.10"
flake8==7.3.0 ; python_full_version == "3.12.10"
kombu==5.5.4 ; python_full_version == "3.12.10"
mccabe==0.7.0 ; python_full_version == "3.12.10"
packaging==25.0 ; python_full_version == "3.12.10"
prompt-toolkit==3.0.52 ; python_full_version == "3.12.10"
pycodestyle==2.14.0 ; python_full_version == "3.12.10"
pyflakes==3.4.0 ; python_full_version == "3.12.10"
python-dateutil==2.9.0.post0 ; python_full_version == "3.12.10"
python-dotenv==1.1.1 ; python_full_version == "3.12.10"
six==1.17.0 ; python_full_version == "3.12.10"
sqlparse==0.5.3 ; python_full_version == "3.12.10"
tzdata==2025.2 ; python_full_version == "3.12.10"
vine==5.1.0 ; python_full_version == "3.12.10"
wcwidth==0.2.14 ; python_full_version == "3.12.10"
